<%= form_with(model: [:instructors, @quiz], local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :question, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :question, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :answer_Option_1, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :answer1, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :answer_Option_2, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :answer2, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :answer_Option_3, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :answer3, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :answer_Option_4, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :answer4, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :right_answer, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :right_answer, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :level, "Difficulty Level", class: "block text-gray-700 font-bold mb-2" %>
      <%= form.select :level, options_for_select([['Easy', 'easy'], ['Medium', 'medium'], ['Hard', 'hard']]), {}, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>
  
    <div class="mb-4">
      <%= form.label :lesson_id, "Lesson", class: "block text-gray-700 font-bold mb-2" %>
      <%= form.collection_select :lesson_id, @current_instructor.lessons, :id, :title, {}, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>
  
    <div class="flex justify-end">
      <%= form.submit 'Save', class: "bg-teal-500 hover:bg-teal-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
  
  <%= link_to 'Back', instructors_quizzes_path, class: "mt-4 inline-block text-white bg-gray-500 hover:bg-gray-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline" %>
  