<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold"><%= @course.title %> Quizzes</h1>
    <%= link_to 'New Quiz', new_instructors_quiz_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>


    <% if @quizzes.any? %>
      <ul>
        <% @quizzes.each do |quiz| %>
          <li class="mb-4 flex flex-col md:flex-row justify-between items-start md:items-center p-4 bg-white rounded-lg shadow-md">
            <div class="mb-4 md:mb-0">
              <p class="text-lg text-blue-500 hover:underline mb
              -2"><%= link_to quiz.question, instructors_quiz_path(quiz) %></p>
              <p class="text-sm text-gray-700">Course: <%= quiz.lesson.course.title %> | Lesson: <%= quiz.lesson.title %></p>
            </div>
            <div class="flex flex-col md:flex-row">
              <%= link_to 'Edit', edit_instructors_quiz_path(quiz), class: "text-white bg-teal-500 hover:bg-teal-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline mb-2 md:mb-0 md:mr-2" %>
              <%= link_to 'Delete', instructors_quiz_path(quiz), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "text-white bg-red-500 hover:bg-red-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline" %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-gray-700">No quizzes found.</p>
    <% end %>

</div>
