<!-- app/views/instructors/blogs/edit.html.erb -->
<div class="container mx-auto p-8">
  <div class="flex justify-between items-center mb-8">
    <div>
      <h1 class="text-4xl font-bold text-teal-600 mb-4">Edit Blog</h1>
      <p class="text-gray-700 text-lg">Update or create new blogs with ease.</p>
    </div>
    <div>
      <%= link_to new_instructors_blog_path, class: "bg-gradient-to-r from-teal-500 to-blue-500 hover:from-teal-600 hover:to-blue-600 text-white font-bold py-2 px-6 rounded-lg shadow-lg transition duration-300 flex items-center" do %>
        <i class="fas fa-plus-circle fa-fw text-lg mr-2"></i>
        Add Blog
      <% end %>
    </div>
  </div>

  <hr class="my-8 border-gray-300 border-2">

  <%= render 'form' %>
</div>
