<!-- app/views/instructors/blogs/index.html.erb -->
<div class="container mx-auto p-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-bold text-teal-600">Your Blogs</h1>
    <%= link_to new_instructors_blog_path, class: "bg-gradient-to-r from-teal-500 to-blue-500 hover:from-teal-600 hover:to-blue-600 text-white font-bold py-2 px-6 rounded-lg shadow-lg transition duration-300 flex items-center" do %>
      <i class="fas fa-plus-circle fa-fw text-lg mr-2"></i>
      Add Blog
    <% end %>
  </div>

  <hr class="my-8 border-gray-300 border-2">

  <% if @blogs.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @blogs.each do |blog| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 relative">
          <%= link_to instructors_blog_path(blog), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "absolute top-2 right-2 text-red-600 hover:text-red-800 focus:outline-none" do %>
            <i class="fas fa-times-circle fa-lg"></i>
          <% end %>

          <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">
              <%= link_to blog.title, instructors_blog_path(blog), class: "hover:underline" %>
            </h2>
            <p class="text-gray-600">Instructor: <%= blog.instructor.name %></p>
          </div>

          <div class="bg-gradient-to-r from-teal-500 to-blue-500 px-6 py-4 flex justify-between items-center">
            <%= link_to edit_instructors_blog_path(blog), class: "text-white bg-blue-600 hover:bg-blue-800 px-4 py-2 rounded focus:outline-none focus:shadow-outline transition duration-300" do %>
              <i class="fas fa-edit fa-fw mr-2"></i> Edit Blog
            <% end %>
            <%= link_to instructors_blog_path(blog), class: "text-white bg-teal-600 hover:bg-teal-800 px-4 py-2 rounded focus:outline-none focus:shadow-outline transition duration-300" do %>
              <i class="fas fa-eye fa-fw mr-2"></i> View Blog
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-700 text-center mt-12">No records found.</p>
  <% end %>
</div>
