<!-- Main container -->
<div class="container mx-auto px-4 py-8">
  <!-- Blog Details Card -->
  <div class="bg-white shadow-md rounded-lg overflow-hidden relative">
    <!-- Delete Button -->
    <div class="absolute top-0 right-0 mt-4 mr-4 delete-blog">
      <%= link_to instructors_blog_path(@blog), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none" do %>
        <i class="fas fa-times-circle fa-lg"></i>
      <% end %>
    </div>
    
    <!-- Blog Details -->
    <div class="p-6">
      <h1 class="text-3xl font-bold text-gray-800 mb-4"><%= @blog.title %></h1>
      <p class="text-lg text-gray-700 mb-6">Created At: <%= @blog.created_at.strftime('%B %d, %Y') %></p>
      <!-- Adjust as per your blog model structure -->
    </div>
    
    <!-- Action Buttons -->
    <div class="bg-gradient-to-r from-teal-500 to-blue-500 px-6 py-4 flex justify-between">
      <%= link_to edit_instructors_blog_path(@blog), class: "text-white bg-green-500 hover:bg-green-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center" do %>
        <i class="fas fa-edit fa-fw mr-2"></i> Edit Blog
      <% end %>
      <%= link_to instructors_blogs_path, class: "text-white bg-gray-500 hover:bg-gray-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center" do %>
        <i class="fas fa-arrow-left fa-fw mr-2"></i> Back
      <% end %>
    </div>
  </div>
</div>
