<h2 class="text-2xl font-bold mb-4">Add Subtitle for lesson (<%= @lesson.title %>)</h2>
<%= form_with(model: [@lesson, sub_title], url: sub_title.new_record? ? instructors_lesson_sub_titles_path(@lesson) : instructors_lesson_sub_title_path(@lesson, sub_title), local: true) do |form| %>
  <% if sub_title.persisted? %>
    <%= form.hidden_field :id %>
  <% end %>
  <div class="mb-4">
    <%= form.label :value, "Subtitle" %>
    <%= form.text_field :value, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= form.label :priority, "Priority" %>
    <%= form.number_field :priority, value: sub_title.upcoming_priority, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="flex justify-end">
    <%= form.submit sub_title.new_record? ? "Add" : "Update", class: "bg-teal-500 hover:bg-teal-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
