<h2 class="text-2xl font-bold mb-8 text-center">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Currently waiting confirmation for:</label>
      <div class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm bg-gray-50">
        <%= resource.unconfirmed_email %>
      </div>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
    <span class="text-xs text-gray-500">(leave blank if you don't want to change it)</span>
    <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    <% if @minimum_password_length %>
      <em class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <%= f.label :current_password, class: "block text-sm font-medium text-gray-700" %>
    <span class="text-xs text-gray-500">(we need your current password to confirm your changes)</span>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="text-center">
    <%= f.submit "Update", class: "px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>

<h3 class="text-lg font-bold mt-8 mb-4 text-center">Cancel my account</h3>
<div class="text-center mb-8">
  Unhappy? 
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
</div>

<div class="text-center">
  <%= link_to "Back", :back, class: "text-indigo-600 hover:underline" %>
</div>
