<h2 class="text-2xl font-bold mb-8 text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :name, autocomplete: "name", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <%= f.label :role, class: "block text-sm font-medium text-gray-700" %>
    <%= f.check_box :role, { multiple: true }, 'learner', nil %> Learner
    <%= f.check_box :role, { multiple: true }, 'instructor', nil %> Instructor
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
    <% if @minimum_password_length %>
      <em class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>
  
  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Login as</label>
    <div class="flex">
      <label class="mr-4">
        <%= radio_button_tag 'login_as', 'learner', class: "mr-2" %> Learner
      </label>
      <label>
        <%= radio_button_tag 'login_as', 'instructor', class: "mr-2" %> Instructor
      </label>
    </div>
  </div>

  <div class="text-center">
    <%= f.submit "Sign up", class: "px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
