<div class="max-w-4xl mx-auto px-4 py-8">
  <%= form_with(model: @lesson, url: @lesson.persisted? ? instructors_lesson_path(@lesson) : instructors_lessons_path, method: @lesson.persisted? ? :patch : :post, data: { turbo: false }, class: "bg-gradient-to-r from-white to-gray-100 shadow-2xl rounded-xl px-10 pt-8 pb-10 mb-6") do |form| %>

    <!-- Error Messages -->
    <% if @lesson.errors.any? %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6 rounded-lg">
        <div class="flex">
          <div class="flex-shrink-0">
            <i class="fas fa-exclamation-circle text-red-500"></i>
          </div>
          <div class="ml-3">
            <h3 class="text-lg font-bold">There were some errors:</h3>
            <ul class="mt-2 list-disc pl-5 space-y-1">
              <% @lesson.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mb-8">
      <div class="flex items-center mb-2">
        <i class="fas fa-book text-gray-400 mr-2 text-xl"></i>
        <%= form.label :course_id, "Course", class: "block text-gray-700 text-lg font-semibold" %>
      </div>
      <%= form.collection_select :course_id, @current_instructor.courses, :id, :title, {}, { class: "shadow-md appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-500" } %>
    </div>

    <div class="mb-8">
      <div class="flex items-center mb-2">
        <i class="fas fa-heading text-gray-400 mr-2 text-xl"></i>
        <%= form.label :title, class: "block text-gray-700 text-lg font-semibold" %>
      </div>
      <%= form.text_field :title, placeholder: "Enter lesson title", class: "shadow-md appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-8">
      <div class="flex items-center mb-2">
        <i class="fas fa-sort-numeric-up text-gray-400 mr-2 text-xl"></i>
        <%= form.label :priority, class: "block text-gray-700 text-lg font-semibold" %>
      </div>
      <%= form.number_field :priority, class: "shadow-md appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="flex items-center justify-between mb-6">
      <%= form.button :submit, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:shadow-outline transition duration-300 ease-in-out transform hover:-translate-y-1 flex items-center" do %>
        <i class="fas fa-check-circle mr-2 text-lg"></i>
        <span><%= @lesson.persisted? ? "Update Lesson" : "Create Lesson" %></span>
      <% end %>
    
      <%= link_to instructors_lessons_path, class: "flex items-center border border-gray-300 text-gray-700 text-sm font-bold py-3 px-6 rounded-lg hover:bg-gray-200 focus:outline-none focus:shadow-outline transition duration-300 ease-in-out transform hover:-translate-y-1", 'data-turbo': false do %>
        <i class="fas fa-arrow-left fa-fw mr-2 text-lg"></i>
        <span>Back</span>
      <% end %>
    </div>
  <% end %>
</div>
