<!-- app/views/instructors/lessons/new.html.erb -->
<div class="container mx-auto p-8">
  <div class="mb-8">
    <div class="flex justify-between items-center">
      <div>
        <h1 class="text-4xl font-bold text-teal-600 mb-4">New Lesson</h1>
        <p class="text-gray-700 text-lg">Create a new lesson with the details below.</p>
      </div>
      <div>
        <%= link_to instructors_lessons_path, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-6 rounded-lg shadow-lg transition duration-300 flex items-center" do %>
          <i class="fas fa-arrow-left fa-fw text-lg mr-2"></i>
          Back
        <% end %>
      </div>
    </div>
  </div>

  <hr class="my-8 border-gray-300 border-2">

  <%= render 'form' %>
</div>
