<!-- Main container -->
<div class="container mx-auto px-4 py-8 flex flex-wrap" data-controller='modal'>
  <!-- Left Column - Lesson Details and Content -->
  <div class="w-full lg:w-3/5 bg-white shadow-md rounded-lg overflow-hidden relative lesson-card lg:mr-8 mb-8 lg:mb-0">
    <!-- Delete Button -->
    <div class="absolute top-0 right-0 mt-4 mr-4 delete-lesson">
      <%= link_to instructors_lesson_path(@lesson), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none" do %>
        <i class="fas fa-times-circle fa-lg"></i>
      <% end %>
    </div>
    
    <!-- Lesson Details -->
    <div class="p-6">
      <h1 class="text-3xl font-bold text-gray-800 mb-4"><%= @lesson.title %></h1>
      <p class="text-lg text-gray-700 mb-6">Priority: <%= @lesson.priority %></p>
      <p class="text-gray-600">Course: <%= link_to @lesson.course.title, instructors_course_path(@lesson.course), class: "text-blue-500 hover:underline" %></p>
    </div>
    
    <!-- Horizontal Rule -->
    <hr class="border-t-4 border-gray-200 my-4">
    
    <!-- Lesson Content -->
    <div class="p-6">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">Add Content to Lesson</h2>
      <div class="flex flex-wrap space-x-4">
        <button data-action="click->modal#openModal" data-modal-target="subtitle-modal" class="text-white bg-teal-500 hover:bg-teal-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center mb-4">
          <i class="fas fa-plus-circle fa-fw mr-2"></i> Subtitle
        </button>
        <button data-action="click->modal#openModal" data-modal-target="description-modal" class="text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center mb-4">
          <i class="fas fa-plus-circle fa-fw mr-2"></i> Description
        </button>
        <button data-action="click->modal#openModal" data-modal-target="image-modal" class="text-white bg-indigo-500 hover:bg-indigo-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center mb-4">
          <i class="fas fa-plus-circle fa-fw mr-2"></i> Image
        </button>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="bg-gradient-to-r from-teal-500 to-blue-500 px-6 py-4 flex justify-between">
      <%= link_to edit_instructors_lesson_path(@lesson), class: "text-white bg-green-500 hover:bg-green-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center" do %>
        <i class="fas fa-edit fa-fw mr-2"></i> Revise Lesson
      <% end %>
      <%= link_to instructors_lessons_path, class: "text-white bg-gray-500 hover:bg-gray-700 px-4 py-2 rounded focus:outline-none focus:shadow-outline flex items-center" do %>
        <i class="fas fa-arrow-left fa-fw mr-2"></i> Back
      <% end %>
    </div>

    
  </div>

</div>



<div class="grid grid-cols-2 gap-4" data-controller='modal'>
  <div class="bg-white shadow-md rounded-lg">

    <% if @combined_contents.present? %>
    
      <div class="p-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Combined Contents</h2>
        <% @combined_contents.each do |content| %>
          <div class="border-b border-gray-200 py-4 flex items-center justify-between">
            <% case content.class.to_s %>
              <% when 'SubTitle' %>
                <div>
                  <h3 class="text-xl font-semibold text-gray-700 mb-2">Subtitle (Priority <%= content.priority %>)</h3>
                  <p><%= content.value %></p>
                </div>
                <div class="flex items-center space-x-2">
                  <%= link_to 'javascript:void(0)', data: {'action': "click->modal#openModal", 'modal-target': "edit-subtitle-modal-#{content[:id]}"}, class: "text-gray-400 hover:text-blue-600 focus:outline-none ml-2" do %>
                    <i class="fas fa-edit fa-lg"></i> <!-- Edit Icon -->
                  <% end %>
                  <%= link_to instructors_lesson_sub_title_path(@lesson, content[:id]), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none ml-2" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </div>
                <%= render layout: 'partials/modal', locals: { modal_id: "edit-subtitle-modal-#{content[:id]}" } do %>
                  <%= render partial: 'instructors/sub_titles/form', locals: { sub_title: content } %>
                <% end %>
              <% when 'Description' %>
                <div>
                  <h3 class="text-xl font-semibold text-gray-700 mb-2">Description (Priority <%= content[:priority] %>)</h3>
                  <p><%= content.value %></p>
                </div>
                <div class="flex items-center space-x-2">
                  <%= link_to 'javascript:void(0)', data: {'action': "click->modal#openModal", 'modal-target': "edit-description-modal-#{content[:id]}"}, class: "text-gray-400 hover:text-blue-600 focus:outline-none ml-2" do %>
                    <i class="fas fa-edit fa-lg"></i> <!-- Edit Icon -->
                  <% end %>
                  <%= link_to instructors_lesson_description_path(@lesson, content[:id]), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none ml-2" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </div>
                <%= render layout: 'partials/modal', locals: { modal_id: "edit-description-modal-#{content[:id]}" } do %>
                  <%= render partial: 'instructors/descriptions/form', locals: { description: content } %>
                <% end %>
              <% when 'Image' %>
                <div>
                  <h3 class="text-xl font-semibold text-gray-700 mb-2">Image (Priority <%= content[:priority] %>)</h3>
                  <%= image_tag(content[:value], class: "max-w-full") %>
                </div>
                <div class="flex items-center space-x-2">
                  <%= link_to 'javascript:void(0)', data: {'action': "click->modal#openModal", 'modal-target': "edit-image-modal-#{content[:id]}"}, class: "text-gray-400 hover:text-blue-600 focus:outline-none ml-2" do %>
                    <i class="fas fa-edit fa-lg"></i> <!-- Edit Icon -->
                  <% end %>
                  <%= link_to instructors_lesson_image_path(@lesson, content[:id]), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none ml-2" do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </div>
                <%= render layout: 'partials/modal', locals: { modal_id: "edit-image-modal-#{content[:id]}" } do %>
                  <%= render partial: 'instructors/images/form', locals: { image: content } %>
                <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

  <% end %>

  </div>
  <div class="bg-sky-100 p-4 rounded-lg border border-gray-300 shadow-lg">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Lesson Preview</h2>
    <hr>
    <div class="my-4">
      <h3 class="text-lg font-semibold text-gray-700 my-4"><%= @lesson.title %></h3>
      <% @combined_contents.each do |content| %>
        <% case content.class.to_s %>
          <% when 'SubTitle' %>
            <h4 class="text-lg font-bold text-gray-900 my-4"><%= content[:value] %></h4>
          <% when 'Description' %>
            <div class="text-base text-gray-700 italic my-4"><%= content.value %></div>
          <% when 'Image' %>
            <div class="flex justify-center">
              <%= image_tag(content[:value], class: "max-w-full rounded-lg shadow-md") %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render layout: 'partials/modal', locals: { modal_id: 'subtitle-modal' } do %>
  <%= render partial: 'instructors/sub_titles/form', locals: { sub_title: @sub_title } %>
<% end %>

<%= render layout: 'partials/modal', locals: { modal_id: 'description-modal' } do %>
  <%= render partial: 'instructors/descriptions/form', locals: {description: @description} %>
<% end %>

<%= render layout: 'partials/modal', locals: { modal_id: 'image-modal' } do %>
  <%= render partial: 'instructors/images/form', locals: {image: @image} %>
<% end %>