
<div data-controller="trix">
  <%= form_with(model: [@lesson, description], url: description.new_record? ? instructors_lesson_descriptions_path(@lesson) : instructors_lesson_description_path(@lesson, description), local: true, multipart: true) do |form| %>
    <% if description.persisted? %>
      <%= form.hidden_field :id %>
    <% end %>
    <div class="mb-4">
      <%= form.label :value, "Description" %>
      <%= form.rich_text_area :value,
        class: "px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline",
        data: {
          controller: "trix",
          direct_upload_url: Rails.application.routes.url_helpers.rails_direct_uploads_path,
          direct_upload_token: description.persisted? ? description.signed_id : nil
        } %>
    </div>

    <div class="mb-4">
      <%= form.label :priority, "Priority" %>
      <%= form.number_field :priority, value: description.priority || description.upcoming_priority, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex justify-end">
      <%= form.submit description.new_record? ? "Add" : "Update", class: "bg-teal-500 hover:bg-teal-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>

