<% flash.each do |type, message| %>
    <% next unless message.is_a?(String) %>
    <% css_class, icon_color, bg_color = case type.to_sym
       when :notice
         ["text-green-800", "text-green-500", "bg-green-50"]
       when :alert, :error
         ["text-red-800", "text-red-500", "bg-red-50"]
       else
         ["text-blue-800", "text-blue-500", "bg-blue-50"]
       end
    %>
    <div id="alert-<%= type %>" data-controller="alert" data-alert-target="dismissable" class="flex items-center p-4 mb-4 <%= css_class %> rounded-lg <%= bg_color %> dark:bg-gray-800 dark:<%= icon_color %>" role="alert">
      <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div class="ms-3 text-sm font-medium">
        <%= message.html_safe %> <!-- Allow HTML links in flash messages -->
      </div>
      <button type="button" data-action="click->alert#dismiss" class="ms-auto -mx-1.5 -my-1.5 <%= bg_color %> <%= icon_color %> rounded-lg focus:ring-2 focus:ring-<%= type %>-400 p-1.5 hover:<%= bg_color.dasherize %>-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:<%= icon_color %> dark:hover:bg-gray-700" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
    </div>
<% end %>
  