<nav class="w-full lg:w-64 bg-gradient-to-r from-teal-500 to-blue-500 shadow-lg text-white">
  <div class="p-4">
    <ul>
      <li>
        <%= link_to instructors_dashboard_index_path, class: "flex items-center py-2 px-4 rounded-lg text-lg font-bold hover:border hover:border-black hover:shadow-lg" do %>
          <i class="fas fa-tachometer-alt fa-fw text-white mr-2"></i>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to instructors_courses_path, class: "flex items-center py-2 px-4 rounded-lg text-lg font-bold hover:border hover:border-black hover:shadow-lg" do %>
          <i class="fas fa-book fa-fw text-white mr-2"></i>
          Courses
        <% end %>
      </li>
      <li>
        <%= link_to instructors_lessons_path, class: "flex items-center py-2 px-4 rounded-lg text-lg font-bold hover:border hover:border-black hover:shadow-lg" do %>
          <i class="fas fa-chalkboard-teacher fa-fw text-white mr-2"></i>
          Lessons
        <% end %>
      </li>
      <li>
        <%= link_to instructors_quizzes_path, class: "flex items-center py-2 px-4 rounded-lg text-lg font-bold hover:border hover:border-black hover:shadow-lg" do %>
          <i class="fas fa-question-circle fa-fw text-white mr-2"></i>
          Quizzes
        <% end %>
      </li>
      <li>
        <%= link_to instructors_blogs_path, class: "flex items-center py-2 px-4 rounded-lg text-lg font-bold hover:border hover:border-black hover:shadow-lg" do %>
          <i class="fas fa-blog fa-fw text-white mr-2"></i> <!-- Set specific icon for Blogs -->
          Blogs
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex items-center py-2 px-4 rounded-lg text-lg font-bold hover:border hover:border-black hover:shadow-lg" do %>
          <i class="fas fa-sign-out-alt fa-fw text-white mr-2"></i>
          Logout
        <% end %>
      </li>
    </ul>
  </div>
</nav>
