<div id="<%= modal_id %>" class="modal hidden fixed z-50 inset-0 overflow-y-auto bg-gray-800 bg-opacity-50 backdrop-blur-sm flex items-center justify-center" data-controller='modal'>
  <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 max-h-screen p-6 overflow-auto">
    <div class="flex justify-end">
      <button data-action="click->modal#closeModal" data-modal-target="<%= modal_id %>" class="text-gray-400 hover:text-red-600 focus:outline-none">
        <i class="fas fa-times-circle fa-lg"></i>
      </button>
    </div>
    <%= yield %>
  </div>
</div>
