<h2 class="text-2xl font-bold mb-4">Add Image for lesson (<%= @lesson.title %>)</h2>

<%= form_with(model: [@lesson, image], url: image.new_record? ? instructors_lesson_images_path(@lesson) : instructors_lesson_image_path(@lesson, image), local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :value, "Image Link" %>
    <%= form.text_area :value, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :priority, "Priority" %>
    <%= form.number_field :priority, value: image.upcoming_priority, class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex justify-end">
    <%= form.submit image.new_record? ? "Add" : "Update", class: "bg-teal-500 hover:bg-teal-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
