<div class="container mx-auto p-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-bold text-teal-600">Your Courses</h1>
  </div>
  <hr class="my-8 border-gray-300 border-2">
  <% if @courses.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @courses.each do |course| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 flex flex-col">
          <div class="flex justify-between items-center px-4 pt-4">
            <h2 class="text-2xl font-bold text-gray-800"><%= link_to course.title, instructors_course_path(course), class: "hover:underline" %></h2>
            <%= link_to learners_course_path(course), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none" do %>
              <i class="fas fa-times-circle fa-lg"></i>
            <% end %>
          </div>
          <div class="p-6 flex-1">
            <p class="text-gray-600 mb-4"><%= course.description.truncate(150) %></p>
          </div>
          <div class="bg-gradient-to-r from-teal-500 to-blue-500 px-6 py-4 flex justify-between items-center">
            <%= link_to learners_course_path(course), class: "text-white bg-green-700 hover:bg-green-900 px-4 py-2 rounded focus:outline-none focus:shadow-outline transition duration-300" do %>
              <i class="fas fa-eye fa-fw mr-2"></i> Checkout Lessons
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-700 text-center mt-12">No records found.</p>
  <% end %>
</div>
