<div class="container mx-auto px-4 py-8 flex">
  <div class="bg-sky-100 p-4 rounded-lg border border-gray-300 shadow-lg w-full">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Lesson Preview</h2>
    <hr>
    <div class="my-4">
      <h3 class="text-lg font-semibold text-gray-700 my-4"><%= @lesson.title %></h3>
      <% @combined_contents.each do |content| %>
        <% case content.class.to_s %>
        <% when 'SubTitle' %>
          <h4 class="text-lg font-bold text-gray-900 my-4"><%= content[:value] %></h4>
        <% when 'Description' %>
          <p class="text-base text-gray-700 italic my-4"><%= content[:value] %></p>
        <% when 'Image' %>
          <div class="flex justify-center">
            <%= image_tag(content[:value], class: "max-w-full rounded-lg shadow-md") %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mt-8 flex justify-between">
      <% if @previous_lesson %>
        <%= link_to learners_lesson_path(@previous_lesson), class: "inline-flex items-center border text-gray-700 text-sm font-bold py-2 px-4 rounded hover:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
          <i class="fas fa-arrow-left fa-fw mr-2"></i> Previous
        <% end %>
      <% else %>
        <span></span>
      <% end %>
      
      <% if @next_lesson %>
        <%= link_to learners_lesson_path(@next_lesson), class: "inline-flex items-center border text-gray-700 text-sm font-bold py-2 px-4 rounded hover:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
          Next <i class="fas fa-arrow-right fa-fw ml-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <aside class="w-1/4 p-4 m-4 bg-white rounded-lg self-start" style="background-color: rgb(227, 218, 218); border-left: 1px solid #d1d5db;">
  <h2 class="text-xl font-semibold mb-4">Lessons</h2>
  <ul class="space-y-2">
    <% @lessons.each do |lesson| %>
      <li>
        <%= link_to learners_lesson_path(lesson), class: "block py-2 px-3 rounded-lg bg-sky-100 hover:bg-hover-color" do %>
          <%= lesson.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>
</div>
