<section class="flex-1 ml-4">
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <h2 class="text-2xl mb-4">Welcome to Your Dashboard</h2>
          <p class="text-gray-700 mb-4">From here you can view your courses, lessons, and blog posts.</p>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-green-100 p-4 rounded-lg shadow">
              <h3 class="text-xl">Courses</h3>
              <p class="mt-2 text-gray-600">View your courses.</p>
              <%= link_to 'View Courses', learners_courses_path, class: 'text-green-600 hover:underline' %>
            </div>

            <div class="bg-blue-100 p-4 rounded-lg shadow">
              <h3 class="text-xl">Lessons</h3>
              <p class="mt-2 text-gray-600">View your lessons.</p>
              <%= link_to 'View Lessons', "#", class: 'text-blue-600 hover:underline' %>
            </div>

            <div class="bg-yellow-100 p-4 rounded-lg shadow">
              <h3 class="text-xl">Blogs</h3>
              <p class="mt-2 text-gray-600">View your blog posts.</p>
              <%= link_to 'View Blogs', "#", class: 'text-yellow-600 hover:underline' %>
            </div>
        </div>
    </div>
</section>