<div class="container mx-auto">
  <div class="bg-white rounded-lg shadow-lg p-6">
  <binding.pry>
    <h2 class="text-2xl font-bold text-center mb-4">Select Quiz Level for <%= @course.title %></h2>
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
      <div class="flex-1">
        <%= link_to learners_quiz_path(id: @course.id, level: 'easy'), class: "block p-6 bg-green-500 text-white text-center rounded-lg shadow-lg hover:bg-green-600" do %>
          <i class="fas fa-smile fa-2x mb-2"></i>
          <p class="text-xl font-semibold">Easy</p>
        <% end %>
      </div>
      <div class="flex-1">
        <%= link_to learners_quiz_path(id: @course.id, level: 'medium'), class: "block p-6 bg-yellow-500 text-white text-center rounded-lg shadow-lg hover:bg-yellow-600" do %>
          <i class="fas fa-meh fa-2x mb-2"></i>
          <p class="text-xl font-semibold">Medium</p>
        <% end %>
      </div>
      <div class="flex-1">
        <%= link_to learners_quiz_path(id: @course.id, level: 'hard'), class: "block p-6 bg-red-500 text-white text-center rounded-lg shadow-lg hover:bg-red-600" do %>
          <i class="fas fa-frown fa-2x mb-2"></i>
          <p class="text-xl font-semibold">Hard</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
