<div class="container mx-auto mt-8">
  <div class="bg-white rounded-lg shadow-lg p-8">
    <div class="mb-8">
      <h1 class="text-3xl font-bold text-teal-600 mb-4">Quiz</h1>
      <p class="text-lg"><strong>Answer Options:</strong></p>
    </div>

    <%= form_with url: submit_quiz_answer_learners_quizzes_path(level: params[:level]), method: :post, local: true, data: { turbo: false } do |form| %>
      <% @quizzes.each do |quiz| %>
        <div class="mb-8 border-b pb-4">
          <div class="mb-4">
            <h2 class="text-2xl font-semibold text-gray-800"><%= quiz.question %></h2>
            <% if @quiz_results["#{quiz.id}"] %>
              <% if @quiz_results["#{quiz.id}"].first %>
                <p class="text-green-600 mt-2"><strong><%= @quiz_results["#{quiz.id}"].second %></strong></p>
              <% else %>
                <p class="text-red-600 mt-2"><strong><%= @quiz_results["#{quiz.id}"].second %></strong></p>
              <% end %>
            <% end %>
          </div>
          <div class="mt-4">
            <b class="text-xl">Choose Answer:</b>
            <ul class="list-none pl-0 mt-2">
              <li class="mb-2">
                <%= form.radio_button "quiz_answers[#{quiz.id}]", quiz.answer1, checked: (@quiz_results && @quiz_results[quiz.id.to_s] && @quiz_results[quiz.id.to_s][2] == quiz.answer1), class: "form-radio h-5 w-5 text-teal-600 transition duration-150 ease-in-out", disabled: @quiz_results.present? %>
                <%= form.label "quiz_answers[#{quiz.id}]", quiz.answer1, class: "ml-3 text-lg" %>
              </li>
              <li class="mb-2">
                <%= form.radio_button "quiz_answers[#{quiz.id}]", quiz.answer2, checked: (@quiz_results && @quiz_results[quiz.id.to_s] && @quiz_results[quiz.id.to_s][2] == quiz.answer2), class: "form-radio h-5 w-5 text-teal-600 transition duration-150 ease-in-out", disabled: @quiz_results.present? %>
                <%= form.label "quiz_answers[#{quiz.id}]", quiz.answer2, class: "ml-3 text-lg" %>
              </li>
              <li class="mb-2">
                <%= form.radio_button "quiz_answers[#{quiz.id}]", quiz.answer3, checked: (@quiz_results && @quiz_results[quiz.id.to_s] && @quiz_results[quiz.id.to_s][2] == quiz.answer3), class: "form-radio h-5 w-5 text-teal-600 transition duration-150 ease-in-out", disabled: @quiz_results.present? %>
                <%= form.label "quiz_answers[#{quiz.id}]", quiz.answer3, class: "ml-3 text-lg" %>
              </li>
              <li class="mb-2">
                <%= form.radio_button "quiz_answers[#{quiz.id}]", quiz.answer4, checked: (@quiz_results && @quiz_results[quiz.id.to_s] && @quiz_results[quiz.id.to_s][2] == quiz.answer4), class: "form-radio h-5 w-5 text-teal-600 transition duration-150 ease-in-out", disabled: @quiz_results.present? %>
                <%= form.label "quiz_answers[#{quiz.id}]", quiz.answer4, class: "ml-3 text-lg" %>
              </li>
              <input type="hidden" name="quiz_ids[]" value="<%= quiz.id %>">
            </ul>
          </div>
        </div>
      <% end %>
      <% if @quiz_results.blank? %>
        <div class="flex justify-end mt-6">
          <%= form.submit 'Submit All Answers', class: "bg-gradient-to-r from-teal-500 to-blue-500 hover:from-teal-600 hover:to-blue-600 text-white px-6 py-2 rounded-lg shadow-lg transition duration-300 font-semibold" %>
        </div>
      <% end %>
    <% end %>

    <% if @quiz_summary %>
      <div class="mt-8 p-4 bg-gray-100 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold text-gray-800">Quiz Summary</h2>
        <p class="mt-2 text-lg"><strong>Total Questions:</strong> <%= @quiz_summary[:total_questions] %></p>
        <p class="mt-2 text-lg"><strong>Correct Answers:</strong> <%= @quiz_summary[:correct_count] %></p>
        <p class="mt-2 text-lg"><strong>Wrong Answers:</strong> <%= @quiz_summary[:wrong_count] %></p>
        <p class="mt-2 text-lg"><strong>Percentage:</strong> <%= @quiz_summary[:percentage] %>%</p>
      </div>
    <% end %>

    <div class="flex justify-end mt-8">
      <%= link_to 'Back to Quizzes', learners_quizzes_path, class: "bg-teal-500 hover:bg-teal-700 text-white px-4 py-2 rounded-lg shadow-lg transition duration-300 font-semibold" %>
    </div>
  </div>
</div>
