<h2 class="text-2xl font-bold mb-8 text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Login as</label>
    <div class="flex">
      <label class="mr-4">
        <%= radio_button_tag 'login_as', 'learner', class: "mr-2" %> Learner
      </label>
      <label>
        <%= radio_button_tag 'login_as', 'instructor', class: "mr-2" %> Instructor
      </label>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="flex items-center mb-4">
      <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
      <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit "Log in", class: "px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
