<div class="container mx-auto p-8">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-4xl font-bold text-teal-600 mb-4">Your Courses</h1>
      <p class="text-gray-700 text-lg">Browse and manage all your courses here.</p>
    </div>
    <%= link_to new_instructors_course_path, class: "bg-gradient-to-r from-teal-500 to-blue-500 hover:from-teal-600 hover:to-blue-600 text-white font-bold py-2 px-6 rounded-lg shadow-lg transition duration-300 flex items-center" do %>
      <i class="fas fa-plus-circle fa-fw text-lg mr-2"></i>
      Add Course
    <% end %>
  </div>
  <hr class="my-8 border-gray-300 border-2">
  <% if @courses.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @courses.each do |course| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 flex flex-col">
          <div class="flex justify-between items-center px-4 pt-4">
            <h2 class="text-2xl font-bold text-gray-800"><%= link_to course.title, instructors_course_path(course), class: "hover:underline" %></h2>
            <%= link_to instructors_course_path(course), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-400 hover:text-red-600 focus:outline-none" do %>
              <i class="fas fa-times-circle fa-lg"></i>
            <% end %>
          </div>
          <div class="p-6 flex-1">
            <p class="text-gray-600 mb-4"><%= course.description.truncate(150) %></p>
          </div>
          <div class="bg-gradient-to-r from-teal-500 to-blue-500 px-6 py-4 flex justify-between items-center">
            <div>
              <%= link_to edit_instructors_course_path(course), class: "text-white bg-blue-600 hover:bg-blue-800 px-4 py-2 rounded mr-2 focus:outline-none focus:shadow-outline transition duration-300" do %>
                <i class="fas fa-edit fa-fw mr-2"></i> Revise Course
              <% end %>
            </div>
            <%= link_to instructors_course_path(course), class: "text-white bg-green-700 hover:bg-green-900 px-4 py-2 rounded focus:outline-none focus:shadow-outline transition duration-300" do %>
              <i class="fas fa-eye fa-fw mr-2"></i> Detailed View
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-700 text-center mt-12">No records found.</p>
  <% end %>
</div>
