<div class="container mx-auto px-4 py-8">
  <div class="max-w-3xl bg-white shadow-md rounded-lg overflow-hidden">
    <div class="bg-gradient-to-r from-teal-500 to-blue-500 px-6 py-4 rounded-t-lg flex items-center justify-between">
      <h1 class="text-3xl font-bold text-white"><%= @course.title %></h1>
      <%= link_to instructors_course_path(@course), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "text-gray-200 hover:text-red-600 focus:outline-none" do %>
        <i class="fas fa-times-circle fa-lg"></i>
      <% end %>
    </div>

    <div class="p-6">
      <p class="text-lg text-gray-700 mb-6"><%= @course.description %></p>

      <hr class="my-8 border-gray-300 border-t-2">

      <h2 class="text-2xl font-bold text-gray-800 mb-4">Lessons</h2>
      <% if @course.lessons.any? %>
        <div class="grid grid-cols-1 gap-4">
          <% @course.lessons.order(priority: :asc).each do |lesson| %>
            <div class="bg-gray-100 rounded-lg shadow-md p-4">
              <%= link_to lesson.title, instructors_lesson_path(lesson), class: "text-blue-500 hover:underline text-lg font-semibold" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-600 mb-6">No lessons available for this course.</p>
      <% end %>

      <div class="mt-8 flex justify-between">
        <%= link_to edit_instructors_course_path(@course), class: "text-white bg-blue-600 hover:bg-blue-800 px-4 py-2 rounded mr-2 focus:outline-none focus:shadow-outline transition duration-300" do %>
          <i class="fas fa-edit fa-fw mr-2"></i> Revise Course
        <% end %>
        <%= link_to instructors_courses_path, class: "flex items-center border text-gray-700 text-sm font-bold py-2 px-4 rounded hover:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
          <i class="fas fa-arrow-left fa-fw mr-2"></i> Back
        <% end %>
      </div>
    </div>
  </div>
</div>
