<div class="container mx-auto p-6 bg-white rounded-lg shadow-lg">
  <h2 class="text-3xl mb-6 font-semibold text-dark-blue-900">Welcome to Your Dashboard</h2>
  <p class="text-gray-700 mb-8">Your central hub for managing courses, lessons, and blogs. Stay organized and up-to-date with all your educational content.</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="bg-gradient-to-r from-blue-100 to-teal-100 p-6 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
      <div class="flex items-center mb-4">
        <i class="fas fa-book-open text-3xl text-blue-600 mr-4"></i>
        <h3 class="text-2xl font-semibold text-dark-blue-900">Courses</h3>
      </div>
      <p class="text-gray-600 mb-4">Manage your courses and explore new opportunities for growth.</p>
      <p class="text-gray-600 mb-4"><span class="text-4xl font-bold text-teal-600"><%= @current_instructor.courses.count %></span> Courses available</p>
      <%= link_to 'View Courses', instructors_courses_path, class: 'text-blue-600 hover:underline' %>
    </div>

    <div class="bg-gradient-to-r from-blue-200 to-teal-200 p-6 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
      <div class="flex items-center mb-4">
        <i class="fas fa-chalkboard-teacher text-3xl text-blue-600 mr-4"></i>
        <h3 class="text-2xl font-semibold text-dark-blue-900">Lessons</h3>
      </div>
      <p class="text-gray-600 mb-4">Create, update, and refine your lessons to enhance your teaching.</p>
      <p class="text-gray-600 mb-4"><span class="text-4xl font-bold text-teal-600"><%= @current_instructor.lessons.count %></span> Lessons available</p>
      <%= link_to 'View Lessons', instructors_lessons_path, class: 'text-blue-600 hover:underline' %>
    </div>

    <div class="bg-gradient-to-r from-blue-300 to-teal-300 p-6 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
      <div class="flex items-center mb-4">
        <i class="fas fa-blog text-3xl text-blue-600 mr-4"></i>
        <h3 class="text-2xl font-semibold text-dark-blue-900">Blogs</h3>
      </div>
      <p class="text-gray-600 mb-4">Share your insights and knowledge through blog posts.</p>
      <p class="text-gray-600 mb-4"><span class="text-4xl font-bold text-teal-600"><%= @current_instructor.blogs.count %></span> Blogs available</p>
      <%= link_to 'View Blogs', instructors_blogs_path, class: 'text-blue-600 hover:underline' %>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
    <div class="bg-gradient-to-r from-green-100 to-lime-100 p-6 rounded-lg shadow hover:shadow-lg transition-shadow duration-300">
      <div class="flex items-center mb-4">
        <i class="fas fa-cogs text-3xl text-green-600 mr-4"></i>
        <h3 class="text-2xl font-semibold text-dark-blue-900">Settings</h3>
      </div>
      <p class="text-gray-600 mb-4">Configure your account and application settings.</p>
      <p class="text-gray-600 mb-4"><span class="text-4xl font-bold text-lime-600">5</span> Settings available</p>
      <%= link_to 'View Settings', edit_user_registration_path, class: 'text-green-600 hover:underline' %>
    </div>
  </div>
</div>
