@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'actiontext.css';

/* Apply styles to Trix content */
.trix-content {
  /* Text styles */
  h1 {
    @apply text-2xl font-bold text-gray-800 mb-4;
  }

  strong {
    @apply font-bold text-gray-800;
  }

  em {
    @apply italic text-gray-700;
  }

  del {
    @apply line-through text-gray-500;
  }

  a {
    @apply text-blue-600 hover:underline;
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-4;
  }

  pre {
    @apply bg-gray-100 p-2 rounded text-gray-800 font-mono mb-4;
  }

  ul {
    @apply list-disc list-inside mb-4;
  }

  ul li {
    @apply mb-2;
  }

  ol {
    @apply list-decimal list-inside mb-4;
  }

  ol li {
    @apply mb-2;
  }

  /* Image styles */
  img {
    @apply mx-auto my-4 max-w-full rounded-lg shadow-md;
  }

  /* Adjusting image size based on inline style width */
  img[style*="width: 5%"] {
    @apply w-1/20;
  }

  img[style*="width: 10%"] {
    @apply w-1/10;
  }

  img[style*="width: 20%"] {
    @apply w-1/5 md:w-1/4 lg:w-1/3 xl:w-1/5;
  }

  img[style*="width: 50%"] {
    @apply w-1/2;
  }

  img[style*="width: 75%"] {
    @apply w-3/4;
  }

  img[style*="width: 100%"] {
    @apply w-full;
  }

  /* Figure and attachment styles */
  figure img,
  figure[data-trix-attachment] {
    @apply mx-auto my-4 max-w-full rounded-lg shadow-md;
  }
}
