<!DOCTYPE html>
<html>
<head>
  <title>OnlineLearningPlatform - Authentication</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal relative overflow-hidden">
  <div class="absolute inset-0 z-0">
    <!-- Light blue background patterns -->
    <div class="absolute inset-0 bg-gradient-to-r from-blue-200 via-blue-300 to-blue-400 opacity-40"></div>
    <div class="absolute inset-0 bg-gradient-to-r from-light-blue-200 via-light-blue-300 to-light-blue-400 opacity-40"></div>
    <div class="absolute inset-0 bg-gradient-to-r from-sky-200 via-sky-300 to-sky-400 opacity-40"></div>
    <div class="absolute inset-0 bg-gradient-to-br from-teal-200 to-blue-200 opacity-20"></div>
    <div class="absolute inset-0 bg-gradient-to-tr from-purple-200 to-pink-200 opacity-20"></div>
    <div class="absolute inset-0 bg-gradient-to-bl from-orange-200 to-yellow-200 opacity-20"></div>
  </div>

  <div class="absolute inset-0 z-10 flex flex-col items-center justify-center space-y-10">
    <% rotates = ['rotate-12', '-rotate-12', 'rotate-6', '-rotate-6', 'rotate-3', '-rotate-3'] %>
    <% gradients = [
      "from-pink-500 via-red-500 to-yellow-500",
      "from-green-400 via-blue-500 to-purple-600",
      "from-yellow-400 via-pink-500 to-red-500",
      "from-purple-500 via-pink-500 to-red-500",
      "from-blue-400 via-indigo-500 to-purple-600",
      "from-yellow-300 via-orange-400 to-red-500"
    ] %>
    <% 9.times do %>
      <div class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r <%= gradients.sample %> opacity-60 transform <%= rotates.sample %>">
        EDU CONNECT
      </div>
    <% end %>
  </div>

  <div class="relative z-20 flex items-center justify-center min-h-screen">
    <div class="absolute inset-0 flex items-center justify-center">
      <!-- Outermost blur -->
      <div class="absolute w-full h-full max-w-6xl max-h-6xl rounded-full backdrop-filter backdrop-blur-[13px] opacity-25"></div>
      <!-- Middle blur -->
      <div class="absolute w-[80%] h-[80%] max-w-5xl max-h-5xl rounded-full backdrop-filter backdrop-blur-[12px] opacity-50"></div>
      <!-- Innermost blur -->
      <div class="absolute w-[60%] h-[60%] max-w-4xl max-h-4xl rounded-full backdrop-filter backdrop-blur-[11px] opacity-75"></div>
    </div>
        <div class="p-8 rounded w-full max-w-xl backdrop-filter backdrop-blur-[1px]">
      <%= render partial: 'partials/instructor_flash_messages' %>
      <%= yield %>
    </div>
  </div>
   

  <!-- Additional background text on left and right sides -->
  <div class="absolute inset-0 flex items-center justify-center">
    <!-- Left side -->
    <div class="absolute left-0 flex flex-col items-center justify-center space-y-5">
      <% 9.times do %>
        <div class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r <%= gradients.sample %> opacity-40 transform <%= rotates.sample %>">
          EDU CONNECT
        </div>
      <% end %>
    </div>
    
    <!-- Right side -->
    <div class="absolute right-0 flex flex-col items-center justify-center space-y-5">
      <% 9.times do %>
        <div class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r <%= gradients.sample %> opacity-40 transform <%= rotates.sample %>">
          EDU CONNECT
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
