<!DOCTYPE html>
<html>
<head>
  <title>Learner Portal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome CDN -->
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css", "data-turbo-track": "reload" %>
</head>
<body class="flex flex-col min-h-screen bg-sky-50 font-sans leading-normal tracking-normal">
  <%= render partial: 'partials/learner_header' %>
  
  <div class="flex flex-1 bg-sky-50 flex-col lg:flex-row">
    <%= render partial: 'partials/learner_side_nav' %>
    <main class="flex-1 p-6 bg-sky-100">
      <%= render partial: 'partials/learner_flash_messages' %>
      <%= yield %>
    </main>
  </div>

  <%= render partial: 'partials/learner_footer' %>
</body>
</html>
